<div class="header">
  <%= render "header" %>
</div>

<% @notes.each do |note|  %>
  <% unless note.trash %>
  <div class='catalog'>
    <%= link_to note.note_name, edit_note_path(note.id), method: :get, class:"catalog-name" %>
    <a href="#">
    <%= image_tag 'trash.png' , size: '40x40' ,class: "trash-btn-icon" %>
    </a>
  </div>
  <% end %>
<% end %>