<div class="header">
  <%= render "header" %>
</div>

<div class="note-content">
  <div class="note-main">

    <div class="note">
      <div class="note-name-parent">
        <div class="note-name-child">
          <div class="note-name-son">
          <%= @note.note_name %>
          </div>
          <div class="save-btn-contents">
          <%= link_to "編集", edit_note_path(@note.id), method: :get, class:"save-btn" %>
          </div>
        </div>
      </div>
      <div class="note-text-parent">
        <div class="note-text-child">
        <%= raw Rinku.auto_link(safe_join(@note.text.split("\n"), tag(:br)), :all, 'target="_blank"')%>
        </div>
      </div>
    </div>
  </div>
</div>